* {
    /* border: 1px solid lightblue; */
    background-color: black;

}

:root {
    --lcars-violet: #c9f;
    --lcars-light-blue: #89f;
    --lcars-orange: #f80;
    --lcars-red: #c44;
}

body {
    font-family: 'Antonio', sans-serif;
    font-size: 1.3rem;
    background-color: black;
    margin: 0;
    padding: 5px 0;
  }

.container {
    line-height: 1.5;
}

#lcars-upper {
    height: 40%;
    font-weight: bold;
}

#upper-left-panels {
    /* width: 230px;
    height: 363px; */
    width: 190px;
    min-width: 190px;
    color: black;
    text-align: right;
    margin-left: 1%;
    background-color: var(--lcars-light-blue);
    border-radius: 0 0 0 160px;
}

/* img {
    width: 300px;
    height: auto;
} */

#analog-forecast {
    width: 60%;
}

.panel-text {
    color: black;
}

h1 {
    line-height: 1.5;
    font-weight: 400;
    font-size: 4.75rem;
    color: var(--lcars-orange);
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.panel-01 {
    text-align: right;
    background-color: var(--lcars-violet);    
    margin:0 -6% 3% -6%;
    padding-top: clamp(40px, 9vw, 100px);
    padding-right: .75rem;
    padding-bottom: .75rem;
    border-bottom: .25rem solid black;
}

.panel-02 {
    background-color: #89f;    
}

/* #panel-01-text {
    background-color: var(--lcars-violet);
    padding: 38% 0 0 45%;
    font-weight: bold;
    text-transform: uppercase;
}

#panel-02-text {
    background-color: var(--lcars-light-blue);
    padding: 10% 0 0 45%;
    font-weight: bold;
    text-transform: uppercase;
} */

/* .upper-left-panel-text {
    padding: 50% 10% 5% 0;
    color: white;
} */

ul {
    text-transform: uppercase;
    list-style-type: none;
    text-align: right;
}

li {
    overflow: hidden;
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
    margin: 0;
}

#nav-group {
    display: flex;
    /* justify-content: flex-end; */
}

.nav-btn {
    color: black;
    width: 40%;
    height: 40%;
}

.btn-tag {
    font-size: 1.5rem;
    padding: 20% 20% 10% 0;
    font-weight: bold;
}

.nav-btn:nth-child(1) {
    background-color: #89f;
}

.nav-btn:nth-child(2) {
    background-color: #f96;
}

.nav-btn:nth-child(3) {
    background-color: #f80;
}

.nav-btn:nth-child(4) {
    background-color: #c44;
}

@keyframes row-1-colorchange {
    0% {color: #f80}
    25% {color: #f80}
    50% {color: #f80}
    75% {color: #f80}
    80% {color: #f80}
    90% {color: black}
    100% {color: #f5f6fa}
}

@keyframes colorchange {
    0% {color: #f80}
    25% {color: #f80}
    50% {color: #f80}
    75% {color: #f80}
    80% {color: black}
    90% {color: black}
    100% {color: #f5f6fa}
}

/*  Temporary Styling - Will be built dynamically in JS */
@keyframes danger-colorchange {
    0% {color: red}
    25% {color: red}
    50% {color: red}
    75% {color: red}
    80% {color: black}
    90% {color: black}
    100% {color: #f5f6fa} 
}

@keyframes alert-colorchange {
    0% {color: yellow}
    25% {color: yellow}
    50% {color: yellow}
    75% {color: yellow}
    80% {color: black}
    90% {color: black}
    100% {color: #f5f6fa} 
}

#dehli-danger {
    animation: danger-colorchange 3s infinite; animation-delay: .3s;

}

#shanghai-alert {
    animation: alert-colorchange 3s infinite; animation-delay: .4s;

}
#dhaka-alert {
    animation: alert-colorchange 3s infinite; animation-delay: .5s;
}

#nyc-alert {
    animation: alert-colorchange 4s infinite; animation-delay: .8s;
}

/*  End temp code    */


.row-1{
    color: #f80;
}

.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8,
.row-9,
.row-10,
.row-11,
.row-12 {
    text-align: right; 
}

.row-1 {
    animation: row-1-colorchange 4s infinite; 
}

.row-2 {
    animation: colorchange 2s infinite; animation-delay: .1s;
}

.row-3 {
    animation: colorchange 2s infinite; animation-delay: .2s;
}

.row-4 {
    animation: colorchange 3s infinite; animation-delay: .3s;
}

.row-5 {
    animation: colorchange 3s infinite; animation-delay: .4s;
}

.row-6 {
    animation: colorchange 3s infinite; animation-delay: .5s;
}

.row-7 {
    animation: colorchange 4s infinite; animation-delay: .6s;
}

.row-8 {
    animation: colorchange 4s infinite; animation-delay: .7s;
}

.row-9 {
    animation: colorchange 4s infinite; animation-delay: .8s;
}

.row-10 {
    animation: colorchange 5s infinite; animation-delay: .9s;
}

.row-11 {
    animation: colorchange 5s infinite; animation-delay: 1s;
}

.row-12 {
    animation: colorchange 5s infinite; animation-delay: 1.1s;
}

.upper-bar-01,
.upper-bar-02,
.upper-bar-03,
.upper-bar-04,
.upper-bar-05 {
    height: 28px;
    border-right: .25rem solid black;
}

.upper-bar-01 {
    background-color: var(--lcars-light-blue);
    width: 40%;
    margin-left: -2%;
}

.upper-bar-02 {
    background-color: var(--lcars-orange);
    width: 4%;
}

.upper-bar-03 {
    background-color: var(--lcars-violet);
    width: 17%;
}

.upper-bar-04 {
    background-color: var(--lcars-violet);
    flex: 1;
}

.upper-bar-05 {
    background-color: var(--lcars-red);
    width: 4%;
}

.upper-bar-05::after {
    background-color: black;
    width: 4%;
}

#banner {
    position: relative;
}

#banner::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: linear-gradient(to top right, var(--lcars-light-blue) 50%, black 50%);
    position: absolute;
    left: 0;
    bottom: 28px;
    z-index: -1;
}

#banner::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 0 0 0 60px;
    position: absolute;
    left: 0;
    bottom: 28px;
    z-index: -1;
}

.lcar-lower {
    height: auto;
    font-weight: bold;
}

.lower-left-panels {
    width: 230px;
    height: 363px;
    padding-top: 100px;
    /* color: black; */
    background-color: var(--lcars-red);
    text-align: right;
    margin-left: 1%;
    background-color: var(--lcars-red);
    border-radius: 160px 0 0 0;
}





/* 

@charset "utf-8";

*, *:after, *:before {
	box-sizing: border-box;
}

:root {
    --panel-bottom: .25rem solid black;
}

*, *:after, *:before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    background-color: black;
    font-family: 'Antonio', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #cc99ff;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: .2rem;
    color: #c16fff;
}

a:hover {
    filter: brightness(115%);
    animation: none;
}

a:active {
    filter: brightness(80%);
    outline: none;
}

#container {
    display: flex;
    width: 100%;
    column-gap: 10px;
}

.lcars-left-col {
    width: 230px;
    background-color: #fba;
    text-align: right;
    font-weight: bold;
    line-height: 1.2;
    color: black;
    transition: 800ms;
    z-index: 2;
}

.lcars-left-col a {
    color: black;
    text-decoration: none;
}

.lcars-mainframe {
    flex: 1;
    margin-inline: auto;
}

.lcars-navbar {
    display: flex;
    margin-inline: auto;
    padding-left: 5px;
    padding-right: 15px;
    overflow: hidden;
}

.panel-1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 27vh;
    max-height: 275px;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: #c9f;
    border-bottom: .25rem solid black;
}

.panel-2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 34vh;
    max-height: 350px;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: #89f;
    border-bottom: .25rem solid black;
}

.panel-3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 20vh;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: #fba;
    border-radius: .25rem solid black;
}

.panel-4 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 20vh;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: #fba;
    border-bottom: .25rem solid black;
}

.panel-5 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 20vh;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: #fba;
    border-bottom: .25rem solid black;
}

.left-frame-top,
.lcars-body-left {
    width: 230px;
    text-align: right;
    font-size: clamp(.875rem, 2vw, 1rem);
    line-height: 1.2;
    font-weight: bold;
    color: black;
    transition: width 1s;
}

.left-frame-top {
    background-color: #89f;
    border-radius: 0 0 0 160px;
}

.left-frame-top a,
.lcars-body-left a {
    text-decoration: none;
    color: black;
}

.lcars-body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    background-color: #c44;
    border-radius: 160px 0 0 0;
}

.left-frame-panel-1 a {
    display: block;
    background-color: #c9f;
    padding-top: clamp(40px, 9vw, 100px);
    padding-right: .75rem;
    padding-bottom: .75rem;
    border-bottom: .25rem solid black;
    text-decoration: none;
    color: black;

}

.lcars-navbar-body {
    flex: 1;
    align-content: flex-end;
    position: relative;
}

.lcars-navbar-body::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: linear-gradient(to top right, #89f 50%, black 50%);
    position: absolute;
    left: 0;
    bottom: 28px;
    z-index: -1;
}

.lcars-navbar-body::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 0 0 0 60px;
    position: absolute;
    left: 0;
    bottom: 28px;
    z-index: -1;
}

@media (max-width: 650px) {
    .lcars-navbar-body::before {
        bottom: 16px;
    }
    .lcars-navbar-body::after {
        bottom: 16px;
    }
}

@media (max-width: 525px) {
    .lcars-navbar-body::before {
        bottom: 10px;
    }
    .lcars-navbar-body::after {
        bottom: 10px;
    }
}

.banner {
    padding-bottom: 1rem;
    padding-left: 5px;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: clamp(1.25rem, 0.75rem + 4vw, 3.75rem);
    color: #f80;
}

.banner a {
    color: #f80;
    text-decoration: none;
}

.lcars-btn-group {
    display: flex;
    justify-content: flex-end;
}

.navbar-wrapper {
    flex: 1;
    max-width: 1400px;
    padding-right: .25rem;
    padding-left: 3vw;
}

@media (max-width: 790px) {
    .navbar-wrapper {
        display: none;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: calc(224px + 224px + 1.5rem);
    justify-content: flex-end;
    align-content: center;
    gap: .6rem;
}

nav a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 224px;
    height: 80px;
    padding-inline: 1.75rem;
    padding-bottom: .675rem;
    border-radius: 100vmax;
    background-color: #c9f;
    text-align: right;
    line-height: 1.175;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

nav a:nth-child(1) {
    background-color: #89f;
}

nav a:nth-child(2) {
    background-color: #f96;
}

nav a:nth-child(3) {
    background-color: #f80;
}

nav a:nth-child(4) {
    background-color: #c44;
}

nav a:hover {
    animation: none;
    color: black;
}

@media (max-width: 1200px) {
    nav a {
        padding-bottom: .5rem;
    }
}

@media (max-width: 700px) {
    nav {
        width: 100%;
        padding-left: .5rem;
        gap: .5rem;
    }
}

.lower-navbar-panel {
    display: flex;
    height: 28px;
}

.upper-navbar-panel {
    display: flex;
    height: 28px;
}

.first-bar {
    display: flex;
    margin-top: clamp(15px, 2vw, 30px);
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-5,
.bar-6,
.bar-7,
.bar-9,
.bar-10 {
    height: 28px;
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-6,
.bar-7,
.bar-8,
.bar-9 {
    border-right: .25rem solid black;
}

.bar-1 {
    width: 40%;
    background-color: #89f;
}

.bar-2 {
    width: 4%;
    background-color: #f80;
}

.bar-3 {
    width: 17%;
    background-color: #c9f;
}

.bar-4 {
    flex: 1;
    background-color: #c9f;
}

.bar-5 {
    width: 4%;
    background-color: #c44;
}

.bar-6 {
    width: 40%;
    background-color: #c44;
}

.bar-7 {
    width: 4%;
    background-color: #f96;
}

.bar-8 {
    width: 17%;
    background-color: #c44;
}

.bar-9 {
    flex: 1;
    background-color: #c9f;
}

.bar-10 {
    width: 4%;
    background-color: #f96;
}

#bar-gap {
    margin-top: .5rem;
}

.body-left-panel-01,
.body-left-panel-02,
.body-left-panel-03,
.body-left-panel-04,
.body-left-panel-05,
.body-left-panel-06 {
    border-bottom: .25rem solid black;
}

.panel-02,
.body-left-panel-01,
.body-left-panel-02,
.body-left-panel-04,
.body-left-panel-05,
.body-left-panel-06,
.body-left-panel-08 {
    padding-block: .75rem;
    padding-right: .75rem;
}

.body-left-panel-02 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 22vh;
    max-height: 300px;
    background-color: #c44;
}

.body-left-panel-03 {
    padding-block: 1.25;
    padding-right: .75rem;
    background-color: #f80;
}

.body-left-panel-04 {
    height: 29vh;
    max-height: 360px;
    background-color: #f96;
}

.body-left-panel-05 {
    height: 27vh;
    max-height: 350px;
    background-color: #89f;
}

.body-left-panel-06 {
    height: 15vh;
    background-color: #f96;
}

.body-left-panel-07 {
    min-height: 27vh;
    padding-top: .075rem;
    padding-right: .75rem;
}

.body-left-panel-08 {
    height: 30vh;
    border-top: .25rem solid black;
    background-color: #f80;
}

.lcars-body-right {
    flex: 1;
    position: relative;
}

.lcars-body-right::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right, #c44 50%, black 50%);
    position: absolute;
    left: 0;
    top: 28px;
    z-index: -1;
}

.lcars-body-right::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 60px 0 0 0;
    position: absolute;
    left: 0;
    top: 28px;
    z-index: -1;
} */
